terraform/pbp_x_orchestrator_stepfunction.json
{
    "Comment": "A description of my state machine",
    "StartAt": "PBP Post",
    "States": {
      "PBP Post": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Output": "{% $states.result.Payload %}",
        "Arguments": {
          "FunctionName": "${stat_pbp_lambda_arn}",
          "Payload": "{% $states.input %}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2,
            "JitterStrategy": "FULL"
          }
        ],
        "Next": "Choice"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Next": "Success",
            "Condition": "{% ($states.input.stats.currentInning) = \"Final\" %}"
          }
        ],
        "Default": "Wait for next request"
      },
      "Success": {
        "Type": "Succeed"
      },
      "Wait for next request": {
        "Type": "Wait",
        "Seconds": 15,
        "Next": "PBP Post"
      }
    },
    "QueryLanguage": "JSONata"
  }